/* FORMULAIRE GLOBAL */
	.madjohForm{
		ul{
			width: 70%;

			margin: auto;
			padding: 10px 0px;
		
			background-color: rgba(0,0,0,0.4);
			border-radius: 8px;

			li{
				position: relative;

				&:not(.madjohFormButton){
					width: 100%;
					text-align: center;
				}

				margin: auto;
				list-style-type: none;

				input, select{
					width: 80%;
					border-radius: 8px;

					border : none;
					background-color: rgb(10, 39, 47);
					font-style: italic;
					color: rgb(180, 190, 190);
				
					padding-left: 10px;
					font-family: Arial;

					&:focus{
						outline : none;
					}
					&::-webkit-input-placeholder{
						color : rgb(179, 190, 193);
					}
				}
			}
		}

		table{
			line-height: 2.2em;
		}

		.forgotPasswordButton{
			color: rgb(130, 14 ,19);
			font-style: italic;
			text-decoration: underline;
		}
	}

	.homeConnectionButtons{
		width: 70%;
		margin : auto;
		padding: 0%;

		li{
			position: relative;
			list-style-type: none;

			width: 60%;
			margin: auto;
			
			border-radius: 8px;

			text-align: left;

			&:not(.facebookAssetContainer){
				background-color: rgb(10, 39, 47);
			}
			&.facebookAssetContainer{
				background-color: rgb(60, 90, 152);
			}
		}
	}

	.madjohFormButton{
		position: relative;
		width: 60%;

		background-color: rgb(10, 39, 47);
		text-align: left;
		border-radius: 8px;

		&>img{
			height: 100%;
			margin: 0px;
		}
		&>span{
			position: absolute;
			right : 0%;
			top : 0%;

			height: 100%;

			text-align: center;
			display: inline-block;

			cursor: pointer;

			color : rgb(179, 190, 193);
		}
	}