/* FORMULAIRE GLOBAL */
    #homeForm{
        width: 100%;
    }

/* CHAMPS DE CONNEXION / INSCRIPTION */
    .madjohForm ul{
        width: 70%;
    
        margin: auto;
        padding: 10px 0px;
    
        background-color: rgba(0,0,0,0.4);
        border-radius: 8px;
    }
    .madjohForm ul li{
        position: relative;
    
        width: 100%;
        margin: auto;
        list-style-type: none;
    
        text-align: center;
    }
    .madjohForm ul li input, .madjohForm ul li select{
        width: 80%;
        border-radius: 8px;

        border : none;
        background-color: rgb(10, 39, 47);
        font-style: italic;
        color: rgb(180, 190, 190);
    
        padding-left: 10px;
        font-family: Arial;
    }
    .madjohForm ul li input:focus, .madohForm ul li select:focus{
        outline : none;
    }
    .madjohForm ul li input::-webkit-input-placeholder{
        color : rgb(179, 190, 193);
    }
    .madjohForm ul li.madjohFormButton{
        position: relative;
        width: 60%;
        background-color: rgb(10, 39, 47);
        text-align: left;
        border-radius: 8px;
        padding: 0px;
    }
    .madjohForm ul li.madjohFormButton>img, .homeConnectionButtons li.madjohFormButton>img{
        height: 100%;
    }
    .madjohForm ul li.madjohFormButton>span, .homeConnectionButtons li.madjohFormButton>span{
        position: absolute;
        right : 0%;
        top : 0%;

        width: 100%;
        height: 100%;

        text-align: center;
        display: inline-block;

        color : rgb(179, 190, 193);
    }
    .madjohForm table{
        line-height: 2.2em;
    }
    .madjohForm .forgotPasswordButton{
        color: rgb(130, 14 ,19);
        font-style: italic;
        text-decoration: underline;
    }

    .homeConnectionButtons{
        width: 70%;
        margin : auto;
        padding: 0%;
    }
    .homeConnectionButtons li{
        position: relative;
        list-style-type: none;

        width: 60%;
        margin: auto;
        
        border-radius: 8px;

        text-align: left;
    }
    .homeConnectionButtons li:not(.facebookAssetContainer){
        background-color: rgb(10, 39, 47);
    }
    .facebookAssetContainer{
        background-color: rgb(60, 90, 152);
    }